<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col-6 mx-auto">
      <h6>Click on any social media platform to show posts.</h6>
      <div class="jumbotron">
        <div class="offset-md-3">
          <button class="btn btn-primary margin-top-10 width-70">Twitter</button>
        </div>
        <div class="offset-md-3">
          <button class="btn btn-danger margin-top-10 width-70">Instagram</button>
        </div>
      </div>
    </div>
  </div>
</div>